<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="nav-brand" href="<%= account_signed_in? ? dashboard_path : root_path %>">Property Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-4">
      <% if account_signed_in? %>
      <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
       <% end %>
      </li>
      <li class="nav-item ml-4">
        <%= link_to "Latest News", blog_path, class: "nav-link" %>
      </li>
      <li class="nav-item ml-4">
        <%= link_to "Properties for Sale", listhouses_path, class: "nav-link" %>
      </li>
       <li class="nav-item ml-4">
        <%= link_to "Properties for Rental", housesrent_index_path, class: "nav-link" %>
      </li> 
    </ul>
   <% if @properties %> 
  <form class="form-inline mr-auto ml-1">
    <%= form_tag(properties_path, method: "get") do %>
  
    <input class="form-control mx-2" type="search" placeholder="Search your property" aria-label="Search" <%= text_field_tag :search, params[:search]%>
    <button class="btn btn-outline-success my-2 mr-2" type="submit" <%= submit_tag 'Search' %> Search </button>
  
    <% end %>
  </form>
  <% end %>
   <div class="fluid">
      <% if account_signed_in? %>
      <%= link_to "Logout", destroy_account_session_path, method: :delete, class: "btn btn-secondary float-sm-right" %>
      <% else %>
        <%= link_to "Log In", new_account_session_path, class: "btn btn-secondary mr-2 mt-2 float-sm-right" %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success mr-2 mt-2 float-sm-right" %>   
      <% end %>
      </div>
   </div>  
</nav>

 